@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@500&display=swap');

html, body{
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
}


#logo{
    text-align: center;
}

#cardapio_img{
    width: 70%;
    margin-top: 30px;
}

#cardapio_img_sm{
    width: 120px;
    float: right;

}


.cardapio{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
}

.botao{
    width: 70%;
    padding: 20px 15px;
}

.categoriaCardapio{
    color: #6C6C6C;
    font-size: 20px;
    text-align: left;
}

.categoriaCardapioImg{
    width: 50px;
    text-align: right;

}
.tituloCategoria{
    margin: 40px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.table{
    width: 100%;
    text-align: center;
}
.cont{
    color: #292929;
    margin: 38px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Ruda', sans-serif;
}

.cont tr .nome_item{
    border-bottom: dotted 2px #292929;
}
.cont tr .preco_item{
    text-align: initial;
}

.img_produto{
    width: 130px;
    border-radius: 30px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: -1;
}


footer img{
    width: 100px;
}