@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
}

body{
    background: url(".././src/fundo.png") no-repeat center center fixed;
}


#logo{
    text-align: center;
}

#cardapio_img{
    width: 70%;
    margin-top: 30px;
}


.cardapio{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
}

.botao{
    width: 70%;
    padding: 20px 15px;
}

.categoriaCardapio{
    color: #6C6C6C;
    font-size: 20px;
    text-align: left;
}

.categoriaCardapioImg{
    width: 50px;
    text-align: right;

}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
}
footer img{
    width: 100px;
}
